.panel-app{
  border-color: #000000;
}

.panel-app > .panel-heading {
  border-color: #000000;
  background-color: #222222;
  color: #ffffff;
}

.btn-app{
  color: #ffffff;
  border-color: #000000;
  background-color: #222222;
}

.btn-app:hover,
.btn-app:focus {
  color: #dddddd;
  background-color: #000000;
  background-position: 0 -15px;
}

.btn-app:active,
.btn-app.active {
  background-color: #000000;
  border-color: #222222;
}

.nav-app > li > a {
   color: #777777;
}

.nav-pills.nav-app > li.active> a {
  background-color: #333333;
}

.central-nav {
  list-style-type: none;
  width: 100%;
  padding-left: 0px;
}


ul {
    list-style-type: none;
}

li {
    margin: 10px;
}

img {
    width: 100px;
}