<!DOCTYPE html>
<html lang="pt-br">

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/ref.css" rel="stylesheet"> 

<% include ./header %>
<body ng-app="">
    <div class="container">
        <div class="panel panel-mecnifico">
            <div class="panel-heading">Cadastro de Referencias</div>
                <div class="panel-body">
                <form role="form">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-5">
                                <label>Livro</label>
                                    <select class="form-control" id="livros">
                                    </select>
                            </div>
                            <div class="col-lg-3">
                                <label>Capitulo</label>
                                <input id="capitulo" class="form-control" maxlength="4">
                            </div>
                            <div class="col-lg-3">
                                <label>Pagina</label>
                                <input id="pagina" class="form-control" maxlength="5">
                            </div>
                            <div class="col-lg-3">
                                <label>Assunto</label>
                                <input id="assunto" class="form-control" maxlength="20">
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Observação</label>
                                <textarea id="observacao" class="form-control"></textarea>
                            </div>
                        </div>
                        <button type="button" class="btn btn-lg btn-default" id="consultar" onclick="referencia.cadastrarReferencia()">Cadastrar</button>
                    </div>
                </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="result">
        </div>
    </div>
</body>
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/referencia.js"></script>
    <script src="js/livro.js"></script>
    <script>
        $( document ).ready(function() {
            livro.realizarPesquisaDropDown();
        });
    </script>
</html>
