<!DOCTYPE html>
<html lang="pt-br">

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet"> 

<% include ./header %>
<body ng-app="">
      <div class="panel-heading">
	  <h1>Bem vindo ao programa para cadastro e pesquisa de referencias</h1>
	  </br>
	  </br>
	  <h3>Para realizar o cadastro de um novo livro selecione a opcao Cadastrar no menu superior e selecione Livro no menu aberto abaixo do Cadastrar</h3>
	  <h3>Para realizar o cadastro de uma nova referencia selecione a opcao Cadastrar no menu superior e selecione referencia no menu aberto abaixo do Cadastrar</h3>
	  <h3>Para realizar a pesquisa de todas as referencias de um livro selecione a opcao Pesquisar referencia no menu superior e selecione Livro no menu aberto abaixo do Pesquisar referencia, Espere a pagina carregar, selecione o livro que se deseja pesquisar no menu e clique no botao consultar</h3>
	  <h3>Para realizar a pesquisa de todas as referencias sobre um assunto especifico selecione a opcao Pesquisar referencia no menu superior e selecione Assunto no menu aberto abaixo do Pesquisar referencia, Espere a pagina carregar, digite o assunto que se deseja pesquisar e clique no botao consultar</h3>
	  </div>
</body>
     <script src="js/lib/jquery.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
</html>
