<!DOCTYPE html>
<html lang="pt-br">

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet"> 

<% include ./header %>
<body ng-app="">
      <div class="panel-heading">
	  </div>
</body>
     <script src="js/lib/jquery.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
</html>
